[mysqld]
port = 3306
datadir = /data
log_bin = /data/master-log-bin
log_bin_index = /data/master-log-bin.index
socket = /tmp/mysql.sock
innodb_file_per_table=1

slave_type_conversions=ALL_NON_LOSSY
slave-skip-errors=1756
#slave-skip-errors =1051,1062,1053,1146
binlog_format = mixed
server_id = 1
log_error = /data/log/master-error.log
expire_logs_days=3

auto_increment_offset = 1
auto_increment_increment = 2
max_connections = 500
character-set-server = utf8mb4
wait_timeout=120

gtid_mode = on
binlog-do-db = shares3
enforce-gtid-consistency = true
log_slave_updates = on

slave-parallel-workers=0
master-info-repository = table
relay-log-info-repository = table

[mysql]
socket = /tmp/mysql.sock
